<div class="editor-container pages-mode">
  <div class="download-pdf">
    <button
      class="btn btn-primary"
      (click)="downloadPdf()"
      [disabled]="!isPdfReady"
    >
      Download PDF
    </button>
  </div>
  <div class="toolbar">
    <ngx-editor-menu [editor]="activeEditor" [toolbar]="toolbar"></ngx-editor-menu>
  </div>

  <div class="page-list" id="printArea">
    <div
      *ngFor="let editor of editors; let i = index"
      class="page"
      (input)="onPageInput(i)"
      #pageElement
    >
      <div class="page-content">
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="pages[i]"
          placeholder="Start writing here..."
        ></ngx-editor>
      </div>
      <div class="page-number">Page {{ i + 1 }}</div>
    </div>
  </div>
</div>
